        <div class="template-footer">
            {{widget('profile', 'phone', { 'profileType':'phone', 'phone':'profile'})|raw}}
            {{widget('profile', 'email', { 'profileType':'email', 'email':'profile'})|raw}}
        </div>
